* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: rgb(250, 250, 250);
  /* background-color: #1a314f; */
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.box-1 {
  background-color: rgb(250, 250, 250);
  border-radius: 12px;
  width: 600px;
  height: 890px;
  box-shadow: 1px 1px 10px 1px #192441;
  margin-top: 30px;
}
.box-2 {
  background-color: #192441;
  border-bottom-right-radius: 100%;
  border-top-left-radius: 12px;
  width: 80%;
  height: 42%;
}
.box-3 {
  width: 125%;
  color: #192441;
  position: relative;
}
.logo-box {
  padding-top: 25px;
  padding-left: 25px;
}
.img-box-1 {
  width: 220px;
  height: 220px;
  background: url(Image/student-1.png);
  background-repeat: round;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  border: 6px solid #192441;
}
.img-box-2 {
  width: 220px;
  height: 220px;
  background: url(Image/student-2.png);
  background-repeat: round;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  border: 6px solid #192441;
}
.img-box-3 {
  width: 220px;
  height: 220px;
  background: url(Image/student-3.png);
  background-repeat: round;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  border: 6px solid #192441;
}
.img-box-4 {
  width: 220px;
  height: 220px;
  background: url(Image/student-4.png);
  background-repeat: round;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  border: 6px solid #192441;
}
.head-box {
  text-align: center;
  margin-bottom: 50px;
}
.head-box h1 {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 30px;
}
.head-box h2 {
  padding: 2px;
  font-size: 20px;
}

table,
tr,
td {
  border-collapse: collapse;
  padding: 3px;
  margin-left: 75px;
}

.info-box {
  font-size: 22px;
  color: #192441;
}

.link-box {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
}
.link-box a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #192441;
  background-color: rgb(250, 250, 250);
  border: 1px solid #192441;
  padding: 15px;
  box-shadow: 1px 1px 10px 1px #192441;
  border-radius: 16px;
}
.link-box a:hover {
  background-color: #192441;
  color: rgb(250, 250, 250);
  border: 1px solid rgb(250, 250, 250);
  transition: 0.3s;
}
